body {
  font-family: sans-serif;
  background: #0b0018;
}

.blue {
  background-color: #0074ff;
}

.blue:hover {
  background-color: #001aff;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: #c40000;
}

.green {
  background-color: #00b919;
}

.green:hover {
  background-color: #009908;
}

.gray {
  background-color: #a8a8a8;
}

.gray:hover {
  background-color: #858585;
}

select {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

textarea {
  outline: none;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    color: white;
  }
  #header #mast {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
  }
  #header .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
  #header .menus .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
  }
  #header .menus .menu h2 {
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    font-weight: 300;
  }
  #header .menus .menu select {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  #header #mast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    color: white;
  }
  #header .menus {
    margin-top: 50px;
  }
  #header .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .menu h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-right: 10px;
    color: white;
  }
  #header .menu select {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}
/*# sourceMappingURL=global.css.map */