@media screen and (min-width: 900px) {
  .main {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #grid {
    margin-top: 40px;
  }
  #display {
    width: 35vw;
    height: 40vw;
    margin: 10px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #display p {
    color: red;
    font-size: 50px;
    margin: 0;
  }
  #display .text {
    background-color: white;
    resize: none;
    height: 13vw;
    padding: 20px;
    width: 30vw;
    margin: 0;
    color: black;
    font-size: 30px;
    margin: 20px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row button {
    margin: 5px;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-right: 20px;
  }
  button {
    padding: 10px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
  }
  button:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    cursor: pointer;
  }
  .show {
    padding-left: 40px;
  }
  .hide {
    padding-left: 90px;
  }
  .dim input {
    text-align: center;
    font-size: 16px;
    width: 40px;
    background-color: white;
  }
  #controls {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #controls p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }
  .bg {
    background: black;
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #display {
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  #display .text {
    resize: none;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }
  .show {
    display: none;
  }
  .hide {
    opacity: 1;
    text-align: center;
    color: red;
    font-size: 24px;
    margin: 10px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  button {
    padding: 10px;
    margin: 0;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  button:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    cursor: pointer;
  }
  button.circle {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  input {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border: none;
    outline: none;
  }
  #controls {
    display: none;
  }
}
/*# sourceMappingURL=crypt.css.map */