@media screen and (min-width: 900px) {
  .main {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #input #canvas {
    width: 40vw;
    height: 40vw;
    cursor: none;
  }
  #input #controls {
    width: 40vw;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #input .button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
  }
  #input .button-row button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
  #display {
    width: 30vw;
    height: 30vw;
    margin-left: 50px;
    text-align: center;
  }
  #display #result {
    width: 30vw;
    height: 20vw;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #display #result #img {
    font-size: 50px;
    line-height: 90px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
  }
  #display #result h1 {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
  }
  #display #info {
    margin-top: 20px;
    width: 26vw;
    height: 5vw;
    background: white;
    padding: 2vw;
    padding-top: 1vw;
  }
  #display #info .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #display #info .row h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
    margin-left: 0;
  }
  #display #info .row h2.variable {
    margin-left: 5px;
    font-weight: 600;
  }
  #display #info .row .circle {
    height: 25px;
    width: 25px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: none;
  }
  #display #info .row #apply {
    border: none;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background: #505050;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
  #display #info .row #apply:hover {
    background: black;
  }
  #display #info .row #nodes {
    margin: 0;
    text-align: center;
    font-weight: 600;
    width: 30px;
  }
  .alert {
    color: red;
    -webkit-animation: pulsate 0.2s ease infinite alternate;
            animation: pulsate 0.2s ease infinite alternate;
  }
  @-webkit-keyframes pulsate {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes pulsate {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
}
/*# sourceMappingURL=draw.css.map */